{% extends "debate/layout2.html" %}

{% block title %}Debate{% endblock %}

{% block body %}

<div id="discussion">
    <div class="row">
    <div class="col-12">
        {% if found %}
        <div style="float: right;" id="follow-div">
            {% if request.user in discussion.followers.all %}
            <span id="follow-input" class="followed"><input type="button" value="&#10003; Following" class="btn btn-primary"/></span>
            {% else %}
            <span id="follow-input"><input type="button" value="Follow" class="btn btn-outline-primary"/></span>
            {% endif %}
        </div>
        <h3>{{ discussion.name }}</h3>
        <p class="text-secondary">Started by: {{ discussion.user }} | Followers: <span id="follower-count" >{{ discussion.followers.count }}</span> | Arguments: <span id="argument-count"> {{ discussion.discussion_arguments.count }}</span></p>
        {% else %}
        <h3>Discussion does not exist</h3>
        {% endif %}
    </div>  
    </div>
    {% if found %}
        <div class="row" id="panel">
            <div id="opening_argument" class="col-12">
                <h5>Opening Argument:</h5>
                {{ discussion.opening_argument }}
            </div>
            <div id="fetch-arguments" class="col-12 p-0">
            </div>
        </div>
        <div class="row">
        <div class="form">
            <form class="" id="post">
                <textarea class="form-control my-2 mx-auto" name="newpost" id="argument" rows="3"  placeholder="Write your arguments"></textarea>
                <input type="submit" id="submit" value="Submit" class="btn btn-primary float-right"/>
                <select id="side" class="form-control w-auto mt-2">
                    <option value="">Select a side</option>
                    <option value="N">Neutral</option>
                    <option value="F">For</option>
                    <option value="A">Against</option>
                </select>
                <p id="argument_error" class="text-danger"></p>
            </form>
        </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block script %}
<script>
var a=true;
const id = "{{ discussion.id }}";
const topic = "{{ discussion.topic.id }}"
</script>
{% if request.user.is_authenticated %}
<script type="text/javascript">
    var request_user = "{{ request.user.username }}";
    var logged_in = true;
</script>
{% else %}
<script type="text/javascript">
    var request_user = undefined;
    var logged_in = false;
</script>
{% endif %}

{% endblock %}
