{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'debate/styles.css' %}" rel="stylesheet">
        <link href="{% static 'debate/sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'debate/sidepanel.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar flex navbar-dark sticky-top bg-primary flex-nowrap p-0" id="navbar">
            <button class="openbtn bg-primary" onclick="openNav()">☰</button>  
            <a class="brand navbar-brand-top nav-link text-white col-md-2 mr-auto"  href="{% url 'index' %}">
                <span class="brand-title">D E B A T E</span>
            </a>
            <ul class="nav w-auto justify-content-end">
                {% if request.user.is_authenticated %}
                    <li class="nav-item text-nowrap user">
                        <a class="nav-link text-white" href="{% url 'profile' request.user.username %}" id="profile"><strong>{{ request.user.username }}</strong></a>
                    </li>
                    <a href="{% url 'profile' request.user.username %}"><i class='fa my-1 mx-2 fa-user-circle'></i></a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item text-nowrap logout">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Log Out</a>
                    </li>
                    <a href="{% url 'logout' %}"><i class="fa my-1 mx-2 fa-sign-out"></i></a>
                {% else %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link text-white" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item text-nowrap">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>


        <div class="container-fluid">
            <div class="row row-cols-1">

                <div id="mySidepanel" class="sidepanel bg-light col-2 p-0">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                    <div class="sidebar-sticky mt-0">
                        <div class="dropdown">
                            <form class="d-inline-flex">
                                <input class="form-control mx-2" type="search" placeholder="Search" onkeyup="search(this.value)" aria-label="Search">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>                        
                            </form>
                        </div>
                        <ul class="nav flex-column">
                            {% for topic in topics %}
                            <li id="{{ topic.id }}" class="nav-item  links">
                                <a href="/#{{topic.slug}}" class="nav-link">
                                    {{ topic }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>    
                    </div>
                  </div>                  
                

                <main role="main" id="main" class="col-md-10 col-lg-8 col-sm-12 mx-auto pt-3 px-4">
                        {% block body %}
                        {% endblock %}
                </main>

                <nav class="col-lg-2 d-none d-md-none d-lg-block bg-light sidebar-right">
                    <div class="sidebar-sticky-right">
                            <ul class="nav flex-column">
                                <h4 class="border-bottom pb-2">Participants</h4>
                                {% for user in participants %}
                                <li class="nav-item">
                                    <a href="/profile/{{ user.username }}" class="nav-link">{{ user.username }}</a>
                                </li>
                                {% endfor %}
                            </ul>    
                    </div>
                </nav>

            
            </div>
        </div>
        {% block script %}{% endblock %}
        <script src="{% static 'debate\discussion.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>